.NavHeader {
  .am-navbar-light {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  // .am-navbar {
  //   background-color: pink;
  // }
}
// 会使其他的组件也会覆盖其中的样式
/* 
会使其他的组件也会覆盖其中的样式
原因：
其他组件也有样式，项目所有的文件最终都是通过打包的形式进行展示的
所以只要有重名样式名就会出现覆盖问题        
解决一：使用大的类名进行包裹，这样简单的解决了这种问题          
大型项目这种解决方案不适合
-------------------------------------------------------------
项目中的解决方案css Modules
在同一个文件夹内
1.创建名为 [name].module.css 的样式文件（React脚手架中的约定，与普通 CSS 作区分）
2.组件中导入该样式文件，留个名称用来获取样式的名称
3.通过 styles 对象访问对象中的样式名来设置样式

eg:
在[name].module.css文件样式中 .red{ bgc:red}
实际上通过module修改过的类名
*/

// div {
//   background-color: skyblue;
// }
